.notification {
    
    // position
    @mixin position($position: "left") {
        
        align-self: flex-start;

        @if $position == "right" { align-self: flex-end; } // override default

        #{$position}: calc(-100% - #{$notifications-container-padding});
        opacity: 0;
        
        &.is-visible {
            #{$position}: 0;
            opacity: 1;
        }
    }

    // transition
    @mixin transition($direction: "left") {

        @include position($direction);
        
        transition: #{$direction} $notification-transition-duration $notification-transition-timing-function,
        opacity $notification-transition-duration $notification-transition-timing-function,
        visibility 0s $notification-transition-duration; // visibility toggle is delayed after element has been hidden
        will-change: #{$direction}, opacity, visibility;

        &.is-visible {
            transition: #{$direction} $notification-transition-duration $notification-transition-timing-function,
            opacity $notification-transition-duration $notification-transition-timing-function;
            will-change: #{$direction}, opacity;
        }
    }

    &.--position-left, &.--position-right, &.--transition-left, &.--transition-right {
        display: block;
        position: relative;
    }

    &.--position-left {
        @include position("left");
    }

    &.--position-right {
        @include position("right");
    }

    &.--transition-left {
        @include transition("left");
    }

    &.--transition-right {
        @include transition("right");
    }
}
