.notification {

    // global
    // ======

    // change default core attributes when there is a modifier
    &[class*='--'] {
        display: block;
        visibility: visible;
    }


    // mixins (have to be declared before being used)
    // ==============================================

    // position
    @mixin position($position: 'left') {

        &.--width-auto {
            // positioning
            align-self: flex-start;
            @if $position == 'right' { align-self: flex-end; } // override default
        }

        #{$position}: calc(-100% - #{$notifications-container-padding});

        &.is-visible {
            #{$position}: 0;
        }
    }

    // slide
    @mixin slide($position: 'left') {

        #{$position}: calc(-100% - #{$notifications-container-padding});

        transition: all $notification-transition-duration $notification-transition-timing-function;

        &.is-visible {
            #{$position}: 0;
            transition: all $notification-transition-duration $notification-transition-timing-function;
        }
    }


    // positions
    // =========

    &.--width-auto {
        align-self: flex-start;
    }

    &.--position-left {
        @include position('left');
    }

    &.--position-right {
        @include position('right');
    }


    // transitions
    // ===========

    // slide transition builds upon position modifier
    &.--transition-slide {

        // if position is not specified or is left
        &.--position-left, &:not([class*='--position']) {
            @include slide('left');
        }

        // else for positioning on the right hand side
        &.--position-right {
            @include slide('right');
        }
    }

    // fade transition
    &.--transition-fade {
        opacity: 0;
        transition: all $notification-transition-duration $notification-transition-timing-function;

        &.is-visible {
            opacity: 1;
            transition: all $notification-transition-duration $notification-transition-timing-function;
        }
    }
}
