#spinner.spinner-theme {

    // spinner rounds
    > [class^="spinner-"] {
        background-color: deeppink;
        animation: loading-theme $spinner-speed infinite ease-in-out both;
    }

    .spinner-1 {
        animation-delay: $spinner-speed/4;
    }

    .spinner-2 {
        animation-delay: $spinner-speed/2;
    }
}

@keyframes loading-theme {
    0%, 80%, 100% {
        transform: scale(0) translateY(0px);
    }

    40% {
        transform: scale(1) translateY(50px);
    }
}
