/*
* Override the following values to customize Reveal Basis components defaults
*/

// overlay
$overlay-background-color: #000;
$overlay-transition-duration: .3s;
$overlay-opacity: .6;
$overlay-z-index: 10;

// above
$above-padding: 24px;
$above-background-color: #fff;
$above-transition-duration: .3s;
$above-transition-timing-function: ease-in-out;
$above-drawer-dimension: 70%;

// notification
$notifications-container-padding: 24px;
$notifications-container-top: 0;

$notification-transition-duration: .3s;
$notification-transition-timing-function: ease-in-out;

// drop
$drop-distance: 1rem;
$drop-z-index: 1;

// spinner
$spinner-color: #fff;
$spinner-speed: 1.35s;
$spinner-animation-name: loading; // animation name cannot be enclosed in quotes
